
*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    background-color: #EEF9BF;
    font-family: sans-serif;
    position: absolute;
    
}

h1 {
    width: auto;
    height: auto;
    color: #75B79E;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    position: relative;
}




.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;

    
    
}


.carta{ 
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin: 17px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #A7E9AF;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  .carta.flip {
    transform: rotateY(180deg);
  }



.front-face, .back-face{
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;

}

.back-face{
    transform: rotateY(180deg);
}
 .oculto {
    display: none;
}
