body {
    width: 100%;
    height: auto;
    background-color: #EEF9BF;
    font-family: sans-serif;
    position: absolute;
}

h1 {
    width: auto;
    height: auto;
    color: #75B79E;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    position: relative;
}

.frontA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
}

.frontB{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.front-face{
    
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin: 17px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    transition: transform .5s;

}

.front-face img{

    width: 100px;
    height: 100px;

}

.front-face.virada {
    transform: rotateY(180deg);
  }

  .back-face{
   
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin: 17px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;

}




.back-face img{

    width: 100px;
    height: 100px;
   

}

/*  
    
*/